//- nav.navbar.fixed-top.navbar-light.bg-light.navbar-top
//-  .container
//-    .navbar-header
//-      a.navbar-brand PRINT 
//-    .collapse.navbar-collapse
//-      ul.navbar-nav.mr-auto
//-         li.nav-item.active
//-            a.nav-link 引言 INTRO
          
nav.navbar.fixed-top.navbar-expand-lg.navbar-light.navbar-top
  a.navbar-brand(href='#') PRINT
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.ml-auto
      li.nav-item.active
        a.nav-link(href='#section_ask') 引言 INTRO
          span.sr-only (current)
      li.nav-item.active
        a.nav-link(href='#section_about') 簡介 ABOUT
      li.nav-item.active
        a.nav-link(href='#section_story') 故事 STORY
      li.nav-item.active
        a.nav-link(href='#section_future') 未來 FUTURE
          
          
header.jumbotron
 .container
  h1(data-0="transform: translateY(-50px)" data-500="transform: translateY(100px)") 印刷術, 知識的複製與革命
  hr
  h6 對人類文化知識的傳播起到了決定性的作用
section#section_ask
  .container
    .row
      .col-sm-5.img(data-0="transform: translateX(-200px)" data-500="transform: translateX(0px)")
        
      .col-sm-7(data-300="opacity: 0" data-500="opacity: 1")
        h2 如果今天沒有印表機，一本書需要花多久產生呢?
section#section_about
  .container
    .row
      .col-sm-12(data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1")
        h1 印刷術的故事
        hr
      .col-md-4.col-sm-12
        .img_wrap(data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1")
          img(src="http://en.people.cn/mediafile/201211/28/F201211281104461060491711.jpg", alt="")
        h3(data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1") 起源
        p(data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1") 雕版印刷術起源於古代中國。早在隋唐，雕版印刷大行於市。傳至宋代，畢昇發明了活字印刷術。歷代出現各種活字，包括膠泥木活字、陶活字、瓷活字、銅活字等，不過活字印刷術在古代中國並未普及。漢字數量眾多，活字印刷不及西方文字便利，對技術和要求也較高；而雕版印刷容易體現漢字的書法美感，並且便於保存
      .col-md-4.col-sm-12
        .img_wrap(data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1")
          img(src="https://userscontent2.emaze.com/images/695440ef-194e-4905-a7d3-bd3ffd7b985c/14cad8b75659c1c44abef04ad1465013.jpg", alt="")
        h3(data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1") 活字印刷
        p(data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1") 大約在1045年<br><br>，畢昇發明了膠泥活字印刷術，用以取代雕版印刷術。畢昇用黏土製成字模，每字一模刻在突面反體，深度為1－2毫米，然後用火煅燒。製版時，在四邊有框的鐵板上放一層松脂、蠟及紙灰，在鐵框上排放鐵條，在兩根鐵條間植以活字，植滿後再置另一鐵條，再行植字，直至整版植滿為止。以火烘鐵板使松脂等融化，冷卻使活字固定在鐵板上。趁未冷前，以一平板在上面按平活字，印版即製成。
      .col-md-4.col-sm-12
        .img_wrap(data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1")
          img(src="https://thumbs.dreamstime.com/b/chinese-movable-type-system-wood-ancient-printing-technique-invented-people-31707953.jpg", alt="")
        h3(data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1") 歐洲
        p(data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1") 約翰尼斯·古騰堡在十五世紀發明了活字印刷術。學界普遍認爲，他獨立發明，沒受其他文化的影響。但是1584年西班牙歷史學家傳教士胡安·岡薩雷斯·德·門多薩在所著《中華大帝國史》中提出，古騰堡受到中國印刷技術影響；中國的印刷術，通過兩條途徑傳入德國，一條途徑是經俄羅斯傳入德國，一條途徑是通過蒙古商人及阿拉伯商人攜帶書籍傳入德國，古騰堡以這些中國書籍，作為他的印刷的藍本。漢學家安田朴曾以「歐洲中心論欺騙行為的代表作：所謂古登堡可能是印刷術的發明人」為題，論證歐洲的活字印刷術來源於中國。
        
section#section_story
  .container-fluid
   //占滿
   .row
    .col-sm-5.map(data-bottom-top="background-size: 150%; background-position: 0% 0%;" data-center="background-size: 100%; background-position: 50% 50%;")
     //background-position: 50% 50%;中間為基準點 0% 0% 左上角為基準點
     .cross X
    .col-sm-7
      .col-sm-12
        h2 印刷對知識傳播的影響
        hr
      .col-sm-12.features
       .row
        .col-sm-4(data-bottom-top="transform: scale(1.5);opacity: 0" data-center="transform: scale(1);opacity: 1")
          i.fa.fa-files-o
          h4 快速複製
        .col-sm-4(data-bottom-top="transform: scale(1.5);opacity: 0" data-center="transform: scale(1);opacity: 1")
          i.fa.fa-paper-plane
          h4 知識傳播
        .col-sm-4(data-bottom-top="transform: scale(1.5);opacity: 0" data-center="transform: scale(1);opacity: 1")
          i.fa.fa-floppy-o
          h4 文化保存 
      .col-sm-12
        p 18世紀初，巴黎曾刻出一套十萬餘字的木刻漢字，但規模過於龐大，難以使用。19世紀初英國的瓦茲曾造出一套準確的活字，但成本如此之高，普通漢字印刷沒有希望能夠使用。所幸1827年至1835年，英國倫敦傳道會熱心的傳教士撒母耳·台約爾在馬六甲，結合歐洲的工藝和華僑工匠的手藝，研究和設計了漢字活字陽文鋼模、陰文銅模，鑄造漢字金屬活字三千餘字，他的漢文活字既價廉又物美。他第一次成功地用金屬活字印刷了漢字聖經
        
section#section_future
  .container-fluid
   //占滿
   .row
    .col-sm-12
      h2 現代印刷術
      hr
    .col-sm-6
      img(src="https://unikomedia.com/wp-content/uploads/2017/04/Print.jpg", alt="" data-bottom-top="filter: grayscale(100%)" data-center="filter: grayscale(0%)")     
      //
    .col-sm-6.feature(data-bottom-top="transform: translateX(50px)" data-center="transform: translateX(0px)") 
      i.fa.fa-television
      h3 電腦印刷
      p 2004年9月起啟動了一個維基計畫——維基共享資源。您可以上傳檔案項目如維基百科、維基詞典和維基教科書。檔案來源
      i.fa.fa-cubes
      h3 三維列印
      p 2004年9月起啟動了一個維基計畫——維基共享資源。您可以上傳檔案（圖片、音效和影片）到維基共享資源的貯藏庫，而它們將可用於所有的維基媒體計畫或項目如維基百科、維基詞典和維基教科書。檔案來源必須是公有領域或採用兼容GNU/FDL、CC-BY/SA/BY-SA版權許可（詳見
      
footer.jumbotron
 .container
  h2 想了解更多印刷的故事嗎?
  input.form-control(placeholder="Email")
  //placeholder填文字
  hr
  button.btn.btn-default 訂閱故事


    